fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
minio
passim[bcrypt]
python-jose
pydantic[email]
langchain-pinecone==0.2.8
langchain==0.3.26
pypdf==5.6.1
langchain-community==0.3.26
langchain-huggingface==0.3.1
langgraph